@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply lg:bg-gray-100 font-sans;
}

@layer components {
  .input {
    @apply rounded-md border-2 border-black bg-white p-2 text-black focus:outline-none focus:ring-2 focus:ring-black focus:border-black placeholder:text-black/40;
  }
}

.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
  color: #07afff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 10px;
}

@font-face {
  font-family: "Helvetica";
  src: url("/src/fonts/helvetica/Helvetica.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "Helvetica", sans-serif;
}
